# Auto detect text files and perform LF normalization
* text=auto
linux filter=lfs diff=lfs merge=lfs -text
mac.app filter=lfs diff=lfs merge=lfs -text
windows filter=lfs diff=lfs merge=lfs -text
linux/jotr_Data/sharedassets29.assets.resS filter=lfs diff=lfs merge=lfs -text
mac.app/Contents/Resources/Data/sharedassets29.assets.resS filter=lfs diff=lfs merge=lfs -text
windows/Journey[[:space:]]of[[:space:]]the[[:space:]]Return_Data/sharedassets29.assets.resS filter=lfs diff=lfs merge=lfs -text
